

<mat-toolbar >
  <span class="toolbar-title">Shannon Estuary Dolphins</span>
  <span class="spacer"></span>

@if (authService.currentUserSig()=== null){
  <div>
    <a mat-button class="toolbar-button" routerLink="/login">  Login  </a>
    <a mat-button class="toolbar-button" routerLink="/register"> Register</a>
  </div>
}
@else{
  <div>
    <div class="user-info"> <div class="loggedInName">Logged in as {{ authService.currentUserSig()?.username }}</div>
      <div class="button-group">
        <a mat-button class="toolbar-button" routerLink="/test">Test</a>
        <a mat-button class="toolbar-button" routerLink="/reports">List Of Reports</a>
        <button mat-button class="logout-button" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
}

</mat-toolbar>
