<mat-toolbar>
  <!-- Add a class to the menu button for responsive control -->
  <button mat-icon-button (click)="onToggleSidenav()" class="mobile-nav-button">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="toolbar-title">Shannon Estuary Dolphins</span>
  <span class="spacer"></span>

  <!-- Add a wrapper with a class around the desktop navigation -->
  <div class="desktop-nav">
    @if (authService.currentUserSig()) {
      <div class="user-info">
        @if (loggedInUsername(); as username) {
          <div class="loggedInName">Logged in as {{ username }}</div>
        }

        <div class="button-group">
          <a mat-button class="toolbar-button" routerLink="/sightingForm">New Report</a>
          <a mat-button class="toolbar-button" routerLink="/reports">List Of Reports</a>
          <a mat-button class="toolbar-button" routerLink="/map">Map</a>
          <button mat-button class="logout-button" (click)="logout()">Logout</button>
        </div>
      </div>
    } @else {
      <!-- This block renders when the user is logged out -->
      <div>
        <a mat-button class="toolbar-button" routerLink="/login">Login</a>
        <a mat-button class="toolbar-button" routerLink="/register">Register</a>
      </div>
    }
  </div>
</mat-toolbar>

