table {
  width: 100%;
}

.filter-pagination-container {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Vertically align items */
  margin-bottom: 16px; /* Add some spacing below */
}

.filter-pagination-container mat-form-field {
  flex-grow: 1;
  max-width: 300px; /* Adjust as needed */
  padding-top: 20px; /* Add top padding here */
}

@media (max-width: 768px) {
  /* Hide the table in single view on smaller screens */
  table {
    display: none;
  }

  .mobile-detail-container {
    margin: 20px;
    padding: 10px;
  }
}
